.container{
    display: grid;
    grid-template-columns: 150px 250px 300px;
    grid-template-rows: 100px 300px 400px;
}
.content{
    border: 1px solid red;
    background-color: aqua;
}

.content1{
    background-image: url("../winter1.jpg");
    background-size: cover;
    background-position: center center;

    /* background-attachment: fixed; 
    parallax efekti veren kod*/

}
.content4{
    overflow: auto ;
}