p{
    height: 10vh;
}
.header1{
background-image:linear-gradient(yellow,green)
}
.header2{
    
background-image:linear-gradient(rgb(247, 247, 23),rgb(8, 156, 8),
rgb(84, 84, 201), hsl(254, 40%, 50%))
}
.header3{

    background-image:linear-gradient(to right, rgb(247, 247, 23),rgb(156, 8, 77),
    rgb(84, 84, 201), hsl(254, 40%, 50%))
}

.header4{
        background-image:linear-gradient(60deg, rgb(247, 247, 23),rgb(8, 156, 8))
}
.header5{
    background-image:radial-gradient(yellow,red,blue)
}
.header6{
    background-image:repeating-radial-gradient(yellow,red 5%,blue 5%)
}